@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  @apply bg-base-200 text-gray-300;
}

.active {
  @apply bg-dark-green text-white;
}
